body {
    font-family: Arial, Helvetica, sans-serif;
}


.root {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu-item-container {
    margin-right: 2em;
    display: flex;
    gap: 1em;
}
.game-mode {
    cursor: pointer;
}

.outer-board-container {
    width: clamp(500px, 60vh, 1500px);
    height: clamp(500px, 60vh, 1500px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: black;
}

.board-container-winning {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-winning {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid black;
}


.inner-board-container {
    background-color: lightgrey;
    margin: 5%;
    width: clamp(50px, 90%, 500px);
    height: clamp(50px, 90%, 500px);
}

.white-background {
    background-color: white;
}


.field {
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px 2px rgb(255, 255, 255);
    transition: box-shadow 0.8s ease;
}

.field:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.circle{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
}

.circle-hover {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #DED9D9FF;
}

.hopping-icon {
    animation: hop 0.6s ease-in-out;
}

@keyframes hop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.x-mark, .x-mark-hover {
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
}

.x-mark::before,
.x-mark::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3%;
    background-color: #151515;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.draw-mark {
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
}

.draw-mark::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3%;
    background-color: #151515;
    top: 50%;
    left: 0;
}

.x-mark-hover::before,
.x-mark-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3%;
    background-color: #DED9D9FF;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.x-mark-hover::before {
    transform: rotate(45deg);
}
.x-mark-hover::after {
    transform: rotate(-45deg);
}
.x-mark::before {
    transform: rotate(45deg);
}
.x-mark:after {
    transform: rotate(-45deg);
}
