.root {
    margin: 0 auto;

}

.board-container {
    width: 60vh;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.field {
    background: aqua;
    border: 1px solid red;
}